<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
<!--<configuration scan="true" scanPeriod="60 seconds" debug="false">-->
    <!-- 继承基础xml-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
<!--    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />-->
    <springProperty name="contextName" source="spring.application.name"/>
    <contextName>${contextName}</contextName>
    <springProperty name="loggerPath" source="logger.path"/>
    <springProperty name="loggerFile" source="logger.file"/>
    <springProperty name="loggerPattern" source="logger.pattern"/>
    <springProperty name="loggerCharset" source="logger.charset"/>
    <springProperty name="loggerMaxFileSize" source="logger.max.file.size"/>
    <springProperty name="loggerMaxHistory" source="logger.max.history"/>

    <!-- 日志记录器，日期滚动记录 -->
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${loggerPath}/%d{yyyy-MM-dd}/${loggerFile}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${loggerMaxFileSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${loggerMaxHistory}</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${loggerPattern}</pattern>
            <charset>${loggerCharset}</charset>
        </encoder>
    </appender>


<!--    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        <destination>192.168.10.232:9200</destination>-->
<!--        &lt;!&ndash; encoder必须配置,有多种可选 &ndash;&gt;-->
<!--        <encoder charset="UTF-8"-->
<!--                 class="net.logstash.logback.encoder.LogstashEncoder" >-->
<!--            &lt;!&ndash; "appname":"yang_test" 的作用是指定创建索引的名字时用，并且在生成的文档中会多了这个字段	 &ndash;&gt;-->
<!--            <customFields>{"appname":"yang_test"}</customFields>-->
<!--        </encoder>-->
<!--    </appender>-->

    <logger name="com.alibaba.druid" level="ERROR"/>
    <logger name="org.springframework.security" level="DEBUG"/>
    <logger name="org.springframework.security.web" level="DEBUG"/>
    <logger name="com.mj.iot" level="INFO"/>

    <!-- 环境，将此级别配置为适合的级别，以免日志文件太多或影响程序性能 -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="staging">
        <root level="INFO">
<!--            <appender-ref ref="LOGSTASH" />-->
            <appender-ref ref="CONSOLE" />
<!--            <appender-ref ref="ROLLING_FILE" />-->
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
<!--            <appender-ref ref="CONSOLE" />-->
            <appender-ref ref="ROLLING_FILE" />
        </root>
    </springProfile>

</configuration>