<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mj.web.system.mapper.STenantResourceMapper">

    <select id="selectPageByCondition" resultType="com.mj.web.system.domain.dobj.ext.STenantResourceExtDO">
        select st.id, st.name, str.type, str.resource_id
        from s_tenant_resource str
        left join s_tenant st on st.id = str.tenant_id
    </select>

    <select id="selectListByUserId" resultType="com.mj.web.system.domain.dobj.STenantResourceDO">
        select str.*
        from s_tenant_resource str
        left join s_tenant st on str.tenant_id = st.id and str.type = 'device'
        left join s_tenant_user stu on stu.tenant_id = st.id
        left join user u on u.id = stu.user_id
        where u.id = #{userId}
    </select>
</mapper>